body{
    user-select: none;
    font-family: 'gisha';
    background: rgb(89,57,218);
    background: linear-gradient(90deg, rgba(89,57,218,1) 0%,
        rgba(101,57,206,1) 6%,
        rgba(133,57,179,1) 14%,
        rgba(144,55,163,1) 30%,
        rgba(153,53,152,1) 35%,
        rgba(163,50,138,1) 41%,
        rgba(171,48,128,1) 51%,
        rgba(181,46,115,1) 60%, 
        rgba(188,43,108,1) 67%,
        rgba(193,44,102,1) 70%,
        rgba(200,41,95,1) 79%,
        rgba(206,40,88,1) 86%,
        rgba(209,40,83,1) 92%,
        rgba(200,41,95,1) 100%);
        min-height: 100%;
}